.talk_div {
    text-align: center;
}

.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: gainsboro;
}

.balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid gainsboro;
}

.balloon1-left p {
    margin: 0;
    padding: 0;
}

.balloon1-right {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: gainsboro;
}

.balloon1-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid gainsboro;
}

.balloon1-right p {
    margin: 0;
    padding: 0;
}

#talk_table td {
    width: 800px;
}

.modifier {
    text-align: right;
}

.image {
    text-align: left;
}

input {
    width: 500px;
}

.input_div {
    width: 800px;
    text-align: center;
    margin-bottom: 32px;
}